# Ignore local configuration files (path history)
data/

# Igonre logs files.
logs/

# Ignore Python Caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore venvs.
.venv/
venv/
env/

# Ignore Pyinstaller files
build/
dist/
*.spec